@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__text/cards__text.css);
@import url();

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 20px 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1365px){
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
        grid-gap: 30px;
    }
}