@import url(./__item/filter__item.css);
@import url(./__title/filter__title.css);
@import url(./__cover/filter__cover.css);
@import url(./__price/filter__price.css);
@import url(./__label/filter__label.css);
@import url(./__checkbox/filter__checkbox.css);
@import url(./__button-cover/filter__button-cover.css);
@import url(./__button/filter__button.css);
@import url(./__button/_type/filter__button_type_submit.css);
@import url(./__button/_type/filter__button_type_reset.css);
@import url(./__close/filter__close.css);
@import url(__container/filter__container.css);

@media screen and (max-width: 1365px){
    .filter {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 254, 253, 0.8);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: 10;
        cursor: default;
    }
}