.feedback__item {
    position: relative;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    margin-right: 30px;
    padding: 35px 38px 35px 70px;
    box-sizing: border-box;
}

.feedback__item:last-of-type {
    margin-right: 0;
}

.feedback__item::before {
    content: url(../../../images/marks.svg);
    position: absolute;
    top: 35px;
    left: 35px;
    width: 27px;
    height: 56px;
}