.filter__button-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

@media screen and (max-width: 365px) {
    .filter__button-cover {
        align-items: stretch;
    }
}
