.header__button_show {
    display: none;
}

@media screen and (max-width: 580px){
    .header__button_show {
        display: block;
        background-image: url('../../../../images/cross.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 26px;
        height: 26px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}

@media screen and (max-width: 450px){
    .header__button_show {
        width: 16px;
        height: 16px;
    }
}