.page__header {
    width: calc(100% - 98px * 2);
    margin: 0 auto;
    padding: 0 98px;
}

@media screen and (max-width: 900px){
    .page__header {
        width: calc(100% - 70px * 2);
        padding: 0 70px;
    }
}

@media screen and (max-width: 790px){
    .page__header {
        width: calc(100% - 45px * 2);
        padding: 0 45px;
    }
}

@media screen and (max-width: 450px){
    .page__header {
        width: calc(100% - 15px * 2);
        padding: 0 15px;
    }
}