.modal__close {
    top: 40px;
    right: 40px;
    z-index: 10;
}

@media screen and (max-width: 1365px) {
    .modal__close {
        top: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 600px) {
    .modal__close {
        top: 20px;
        right: 20px;
    }
}