.rooms__item {
    position: relative;
    display: none;
    flex-direction: column;
    max-width: 1027px;
    margin: 0 auto;
}

.rooms__item::after {
    position: absolute;
    content: '';
    background-image: url('../../../images/fish.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -80px;
    left: 0;
    width: 484px;
    height: 151px;
    z-index: 0;
}

@media screen and (max-width: 1130px){
    .rooms__item {
        max-width: 678px;
    }

    .rooms__item::after {
        top: -55px;
        left: 0;
        width: 340px;
        height: 106px;
        z-index: 0;
    }
}

@media screen and (max-width: 700px){
    .rooms__item {
        max-width: 290px;
    }
    
    .rooms__item::after {
        top: -35px;
        left: 0;
        width: 160px;
        height: 56px;
    }
}