.rooms__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0 168px 79px;
}

.rooms__item::after {
    position: absolute;
    content: url(../../../images/fish.svg);
    top: 10px;
    left: 0;
    width: 484px;
    height: 151px;
    z-index: 0;
}