.banner__title_size_big {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.18;
}

@media screen and (max-width: 580px) {
    .banner__title_size_big {
        font-size: 37px;
        line-height: 1.19;
        margin-bottom: 20px;
    }
}