.contacts__card {
    position: absolute;
    background-image: url(../../../images/card.png);
    width: 798px;
    height: 580px;
    z-index: 1;
}

.contacts__card::before {
    position: absolute;
    content: url(../../../images/card_cat.svg);
    top: 235px;
    left: 250px;
    width: 32px;
    height: 58px;
    z-index: 2;
}