.rooms__selector {
    position: absolute;
    bottom: 12px;
    left: 653px;
}

@media screen and (max-width: 1365px){
    .rooms__selector {
        left: 505px;
    }
}

@media screen and (max-width: 900px){
    .rooms__selector {
        left: 354px;
    }
}

@media screen and (max-width: 450px){
    .rooms__selector {
        left: 130px;
    }
}