.contacts__cover {
    display: flex;
    flex-direction: column;
    background-color: #FAC663;
    min-width: calc(42% - 198px - 107px);
    max-height: 580px;
    width: 42%;
    padding: 70px 107px 70px 198px;
    box-sizing: border-box;
    flex-grow: 1;
}

@media screen and (max-width: 1300px) {
    .contacts__cover {
        width: 48%;
        max-height: 522px;
        padding: 60px 25px 60px 55px;
    }
} 

@media screen and (max-width: 1000px) {
    .contacts__cover {
        min-width: calc(369px - 45px - 65px);
        padding: 60px 45px 60px 45px;
    }
}

@media screen and (max-width: 770px) {
    .contacts__cover {
        width: 100%;
        min-width: calc(100% - 15px - 60px);
        padding: 38px 60px 38px 15px;
    }
}