.contacts__cover {
    display: flex;
    flex-direction: column;
    background-color: #FAC663;
    min-width: calc(41.5% - 198px - 107px);
    max-height: 580px;
    width: 42%;
    padding: 70px 107px 70px 198px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px){
    .contacts__cover {
        width: 48%;
        max-height: 522px;
        padding: 60px 45px 60px 55px;
    }
} 

@media screen and (max-width: 1000px){
    .contacts__cover {
        min-width: calc(48% - 45px - 65px);
        padding: 60px 65px 60px 45px;
    }
} 