.cards__item {
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 1365px){
    .cards__item {
        width: 100%;
        max-width: 100%;
        z-index: 1;
        padding: 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px){
    .cards__item {
        padding: 20px;
    }
}