.footer__copyright-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 198px;
    background-color: #FFFEFD;
    max-width: calc(1366px - 198px - 198px);
    min-height: 49px;
    border-top: 1px solid #EFEFEF;
}

@media screen and (max-width: 1365px){
    .footer__copyright-block {
        padding: 0 45px;
        width: calc(100% - 45px * 2);
    }
}

@media screen and (max-width: 580px){
    .footer__copyright-block {
        flex-direction: column;
        align-items: flex-start;
        min-height: 0;
        padding: 15px 15px 10px;
        width: calc(100% - 45px * 2);
    }
}