.cards__title {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
}

@media screen and (max-width: 1365px){
    .cards__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    .cards__title {
        font-size: 18px;
    }
}