.rooms__image {
    display: block;
    position: relative;
    width: 600px;
    height: 404px;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 1365px){
    .rooms__image {
        width: 442px;
        height: 303px;
    }
}