.icon__house {
    width: 16px;
    height: 16px;
}

.icon__house + .icon__help {
    transition: top 0.2s ease, opacity 0.2s ease;
    display: block;
    position: absolute;
    top: -85px;
    left: 175px;
    opacity: 0;
}


.icon__house:hover + .icon__help {
    top: -55px;
    opacity: 1;
}