.rooms-list__title {
    font-size: 36px;
    line-height: 1.19;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 580px) {
    .rooms-list__title {
        font-size: 28px;
        line-height: 1.18;
        /*align-self: flex-start;*/
        margin-bottom: 40px;
    }
}