.rooms-list__filter {
    position: relative;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    min-width: calc(174px - 60px - 35px);
    margin: 0;
    padding: 13px 60px 13px 35px;
}

@media screen and (max-width: 1365px){
    .rooms-list__filter {
        padding: 12px 60px 12px 35px;
        max-height: calc(40px - 12px * 2);
    }
}

@media screen and (max-width: 580px){
    .rooms-list__filter {
        padding: 12px 47px 12px 25px;
    }
}