.modal__item {
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 16px 30px;
    font-size: 16px;
    line-height: 1.19;
    max-width: 100%;
    z-index: 2;
}

.modal__item::-webkit-input-placeholder {
    color: #1A212F;
}

.modal__item:-ms-input-placeholder {
    color: #1A212F;
}

.modal__item::-moz-placeholder {
    color: #1A212F;
    opacity: 1;
}

.modal__item:-moz-placeholder {
    color: #1A212F;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .modal__item {
        padding: 17px 20px;
        font-size: 15px;
        line-height: 1.19;
    }
}