@import url(../blocks/button/button.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main-banner/main-banner.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/rooms/rooms.css);
@import url(../blocks/selector/selector.css);
@import url(../blocks/selector/_active/selector_active.css);
@import url(../blocks/toggle/toggle.css);
@import url(../blocks/feedback/feedback.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/link-transform/link-transform.css);
@import url(../blocks/disabled/disabled.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/_show/header_show.css);