.feedback__selector {
    position: absolute;
    bottom: 152px;
    left: 653px;
}

@media screen and (max-width: 1365px){
    .feedback__selector {
        left: 505px;
    }
}

@media screen and (max-width: 900px){
    .feedback__selector {
        left: 354px;
    }
}