@import url(./__cover/toggle__cover.css);
@import url(./_position/toggle_position_left.css);
@import url(./_position/toggle_position_right.css);

.toggle {
    width: 36px;
    height: 36px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.25);
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 900px){
    .toggle {
        display: none;
    }
}