.button {
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    border: none;
    min-height: 50px;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button:hover::after {
    transform: scale(1.2);
}