.navigation_type_header {

}

@media screen and (max-width: 580px){
    .navigation_type_header {
        /* display: none; */
        position: absolute;
        top: 76px;
        left: 0;
        width: calc(100% - 15px * 2);
        padding: 42px 15px;
    }
}

@media screen and (max-width: 320px){
    .navigation_type_header {
        top: 62px;
    }
}